<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		 http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		 http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		 http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config />
	
	<tx:annotation-driven />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
			<property name="location" value="classpath:database.properties" />
	</bean>
		
	<!-- Database datasource configurations with details fetched from database.properties file-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="${jdbc.DRIVER}" />
			<property name="url" value="${jdbc.URL}" />
			<property name="username" value="${jdbc.USERNAME}" />
			<property name="password" value="${jdbc.PASSWORD}" />
	</bean>
	
	
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="sessionFactory" class=" org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	<!-- <property name="configLocations" value="classpath:hibernate.cfg.xml"></property> -->
		<property name="dataSource" ref="dataSource"></property>  
		<property name="mappingResources">  
        	<list>  
        		<value>com/mindtree/entity/Person.hbm.xml</value>  
        	</list>  
        </property> 
        <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
	<constructor-arg index="0" ref="sessionFactory"></constructor-arg>
	</bean>

	
</beans>
